a{
    text-decoration: none !important;
    color: inherit !important;
}
#nav-text{
color: white;
margin-right: 10px;
text-decoration: underline;
text-underline-offset: 5px; 
} 
#main-nav{
    height: 80px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
.search{
    display: none;
  }
#main-nav{
    height: auto;
} 
#nav-text{
    display: none;
}    
}